*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li button {
  color: white;
  background: rgb(242, 112, 112);
  font-size: 0.5em;
  padding: 3px 5px;
  float: right;
  cursor: pointer;
  border: 1px solid red;
}
ul {
  list-style-type: none;
  width: 50%;
  margin: 10px;
  padding: 0px;
}
li {
  padding: 5px;
  background: rgb(235, 235, 235);
  border-radius: 5px;
  margin: 2px;
}
.terminada {
  background: rgb(203 251 178);
  text-decoration: line-through;
}
input[type=checkbox]{
    margin-right: 10px;
}
